<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imperfection.kimlongflower">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">
        <activity android:name="com.imperfection.kimlongflower.SettingCompany"></activity>
        <activity android:name="com.imperfection.kimlongflower.ChooseTypeOfHistory" />
        <activity android:name="com.imperfection.kimlongflower.ViewHistoryOfInvoices" />
        <activity android:name="com.imperfection.kimlongflower.CreateInvoice" />
        <activity android:name="com.imperfection.kimlongflower.AddItem" />
        <activity android:name="com.imperfection.kimlongflower.ListProduct" />
        <activity android:name="com.imperfection.kimlongflower.ViewTransaction" />
        <activity android:name="com.imperfection.kimlongflower.BluetoothDeviceList" />
        <activity
            android:name="com.imperfection.kimlongflower.Main"
            android:theme="@style/AppTheme" />
        <activity android:name="com.imperfection.kimlongflower.Register" />
        <activity android:name="com.imperfection.kimlongflower.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>